h1{
  margin: 60px;
}
.container {
  text-align: center;
}

#letter {
  list-style: none;
  padding: 4px 20px;
  background-color: #3599DB;
  color: white;
  display: inline-block;
  font-size: 50px;
  font-family: monospace;
  box-shadow: 2px 2px 4px rgb(194, 191, 191);
  border: 1px black solid;
  margin: 4px;
}
#searcher {
  width: 400px;
  opacity: .5;
  height: 26px;
  font-size: 20px;
}
#btn {
  background-color: #3379B7;
  height: 30px;
  padding: 5px;
  width: 70px;
  color: white;
  border-radius: 8px;
}

#playagain {
  text-decoration: none;
  color: #8596C0;
  margin-left: 30px;
}
